.btn-news {
    display: block;
    margin: 10px auto 0;
    width: 170px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #14b9d5;
    cursor:pointer;
}
.btn-news:hover {
    background-color: #1098B3;
}
.toTop {
    position:fixed;
    bottom:40px;
    right:40px;
    cursor:pointer;
    display:none;
    color:#14b9d5;
    font-size:60px;
}
.toTop:hover {
    color: #1098B3;
}

