body {
    font-family: 'Open Sans', sans-serif;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    background-color: #1d2124;
    text-transform: uppercase;
}

.header-menu-items-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.header-menu-item {
    padding: 0 20px;
    color: #fff;
}
.header-menu-item:hover,.logo-item-text:hover,.search-item:hover {
    color: #169cb4;
}

.logo-item {
    display: flex;
    align-items: center;
    padding-right: 25px;
    color: #fff;

}

.logo-item-img {
    padding: 20px;
    background-color: #1a1d20;
}

.logo-item-text {
    text-transform: none;
    font-size: 22px;
    font-weight: bold;
}

.search-item {
    background-color: #1a1d20;
    padding: 25px;
    font-size: 18px;
    color: #fff;
}


.subscribe {
    background-blend-mode: darken;
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-color: rgba(0, 0, 0, 0.4);
    background-attachment: fixed;
    background-size: cover;
}

.subscribe-header {
    text-align: center;
    color: #fff;
    font-size: 27px;
    padding: 120px 0 25px 0;
}

.subscribe-items-wrapper {
    display: flex;
    justify-content: center;
}
.subscribe-item {
    width: 170px;
    text-align: center;
    padding: 20px 0;
    margin: 0 10px 140px 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}
.green {
    background-color: #89ca62;
}
.green:hover {
    background-color: #67B33B;
}
.blue {
    background-color: #14b9d5;
}
.blue:hover {
    background-color: #1098B3;
}
.post {
    background-color: #f2f2f2;
}
.post-header {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    padding: 50px 0;
}

.post-items-wrapper {
    display: flex;
    width: 1170px;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 900px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.post-item {
    margin-bottom: 20px;
}
.post-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.post-box-1 {
    order: 1;
}
.post-box-2 {
    order: 3;
}
.post-box-3 {
    order: 5;
}
.post-box-4 {
    order: 2;
}
.post-box-5 {
    order: 4;
}
.post-box-6 {
    order: 6;
}

.post-item-img {
    display: block;
}
.post-item-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    color: #000;
}

.clients {
    background-blend-mode: darken;
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-color: rgba(0, 0, 0, 0.4);
    background-attachment: fixed;
background-size: cover;
}

.clients-header {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 200px 0 60px 0;
}
.clients-base-line {
    border-bottom: 3px solid #169cb4;
    width: 60px;
    margin: 0 auto;
}
.clients-item {
    width: 210px;
    opacity: 1;
}
.clients-item:hover {
    opacity: 0.5;

}
.clients-items-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 60px 0 200px 0;
}
.clients-box-1 {
    grid-column-start: 2;
}

.clients-item {
    text-align: center;
}

.top-rated-header,.news-header {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    padding: 60px 0;
}

.top-rated-items-wrapper {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.top-rated-item-img {
    display: block;
    width: 100%;
}
.top-rated-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transform: scale(1,1.05);
}

.news-items-wrapper {
    display: grid;
    width: 1170px;
    margin: 0 auto;
    justify-items: center;
    grid-gap: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
            "item-1 item-1 item-1 item-2"
            "item-3 item-3 item-4 item-4"
            "item-5 item-5 item-6 item-6"
            "item-7 item-8 item-8 item-8";
}

.news-item-1 {
    grid-area: item-1;
    display: grid;
    grid-template-columns: auto 1fr;
}
.news-item-2 {
    grid-area: item-2;
}
.news-item-3 {
    grid-area: item-3;
}
.news-item-4 {
    grid-area: item-4;
}
.news-item-5 {
    grid-area: item-5;
}
.news-item-6 {
    grid-area: item-6;
}
.news-item-7 {
    grid-area: item-7;
}
.news-item-8 {
    grid-area: item-8;
    display: grid;
    grid-template-columns: auto 1fr;
}
.news a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.news-item-img {
    display: block;
    width: 100%;
}

.news-item-article {
    text-align: right;
    background-color: #f9f7f7;
    color: black;
    padding: 20px;
}

.news-item-header {
    font-size: 18px;
    font-weight: bold;
}
.news-item-header-small {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #f9f7f7;
    padding: 14px;
}
.news-item-text {
    font-size: 14px;
    padding-top: 20px;
    line-height: 1.5;
}

.footer {
    background-color: #1d2124;
    margin-top: 70px;
}

.footer-wrapper {
    display: grid;
    width: 1170px;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-text {
    font-size: 13px;
    color: #fff;
    padding-top: 32px;
}

.footer-logo {
    padding: 22px 0;
    text-align: right;
}